{% extends 'base.html.twig' %}

{% block title %}Engine{% endblock %}

{% block body %}
    <h1>Engine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engine.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ engine.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('engine_index') }}">back to list</a>

    <a href="{{ path('engine_edit', {'id': engine.id}) }}">edit</a>

    {{ include('engine/_delete_form.html.twig') }}
{% endblock %}
