{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <h1>Brand index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.name }}</td>
                <td>{{ brand.code }}</td>
                <td>
                    <a href="{{ path('brand_show', {'id': brand.id}) }}">show</a>
                    <a href="{{ path('brand_edit', {'id': brand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('brand_new') }}">Create new</a>
{% endblock %}
