{% extends 'base.html.twig' %}

{% block title %}Edit VehicleOwnership{% endblock %}

{% block body %}
    <h1>Edit VehicleOwnership</h1>

    {{ include('vehicle_ownership/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehicle_ownership_index') }}">back to list</a>

    {{ include('vehicle_ownership/_delete_form.html.twig') }}
{% endblock %}
