{% extends 'base.html.twig' %}

{% block title %}VehicleOwnership index{% endblock %}

{% block body %}
    <h1>VehicleOwnership index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Vehicle</th>
                <th>Owner</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle_ownership in vehicle_ownerships %}
            <tr>
                <td>{{ vehicle_ownership.comment }}</td>
                <td>{{ vehicle_ownership.vehicle }}</td>
                <td>{{ vehicle_ownership.owner }}</td>
                <td>{{ vehicle_ownership.startDate|date('Y-m-d')  }}</td>
                <td>{{ vehicle_ownership.endDate|date('Y-m-d')  }}</td>
                <td>{{ vehicle_ownership.isActive ? 'Yes' :'No'}}</td>
                <td>
                    <a href="{{ path('vehicle_ownership_show', {'id': vehicle_ownership.id}) }}">show</a>
                    <a href="{{ path('vehicle_ownership_edit', {'id': vehicle_ownership.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_ownership_new') }}">Create new</a>
{% endblock %}
