{% extends 'base.html.twig' %}

{% block title %}New VehicleOwnership{% endblock %}

{% block body %}
    <h1>Create new VehicleOwnership</h1>

    {{ include('vehicle_ownership/_form.html.twig') }}

    <a href="{{ path('vehicle_ownership_index') }}">back to list</a>
{% endblock %}
