{% extends 'base.html.twig' %}

{% block title %}VehicleOwnership{% endblock %}

{% block body %}
    <h1>VehicleOwnership</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle_ownership.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ vehicle_ownership.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_ownership_index') }}">back to list</a>

    <a href="{{ path('vehicle_ownership_edit', {'id': vehicle_ownership.id}) }}">edit</a>

    {{ include('vehicle_ownership/_delete_form.html.twig') }}
{% endblock %}
