{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Vehicle index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Vin</th>
            <th>Brand</th>
            <th>NbWheels</th>
            <th>Color</th>
            <th>Category</th>
            <th>Current Owner</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.vin }}</td>
                <td>{{  vehicle.brand }}</td>
                <td>{{ vehicle.nbWheels }}</td>
                <td>{{ vehicle.color }}</td>
                <td>{{ vehicle.category }}</td>
                {% if vehicle.owner %}
                    <td>{{ vehicle.owner }}</td>
                {% else %}
                    <td>No current owner</td>
                {% endif %}
                <td>
                    <a href="{{ path('vehicle_show', {'id': vehicle.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_new') }}">Create new</a><br>
    <a href="{{ path('vehicle_secondhand') }}">Second hand vehicles</a>
{% endblock %}
