{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ vehicle.name }}</td>
            </tr>
            <tr>
                <th>Vin</th>
                <td>{{ vehicle.vin }}</td>
            </tr>
            <tr>
                <th>NbWheels</th>
                <td>{{ vehicle.nbWheels }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vehicle.color }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ vehicle.category }}</td>
            </tr>
            <tr>
                <th>Current Owner</th>
                {% if vehicle.owner %}
                    <td><a href="{{ path('owner_show', {'id': vehicle.owner.id}) }}">{{ vehicle.owner }}</a>
                    {% if vehicle.owner.avatar is not null %}
                        <img src="{{ vich_uploader_asset(vehicle.owner.avatar, 'imageFile', 'App\\Entity\\Media') }}" style="width: 100px"/></td>
                    {% endif %}
                {% else %}
                    <td>No current owner</td>
                {% endif %}
            </tr>

            <tr>
                <th>Past Owners</th>
                <td>{% if vehicle.vehicleOwnerships %}
                    <ul>
                    {% for own in vehicle.vehicleOwnerships|reverse %}
                        {% if own.isActive == false %}
                        <li>{{ own.owner.name }} <br>
                            Start : {{ own.startDate|date('Y-m-d') }} - End : {{ own.endDate|date('Y-m-d') }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul></td>
                {% else %}
                    <td>No ownership</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    <a href="{{ path('vehicle_changeowner', {'id': vehicle.id}) }}">Change Owner</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
