{% extends 'base.html.twig' %}

{% block title %}Edit Fuel{% endblock %}

{% block body %}
    <h1>Edit Fuel</h1>

    {{ include('fuel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fuel_index') }}">back to list</a>

    {{ include('fuel/_delete_form.html.twig') }}
{% endblock %}
