{% extends 'base.html.twig' %}

{% block title %}New Fuel{% endblock %}

{% block body %}
    <h1>Create new Fuel</h1>

    {{ include('fuel/_form.html.twig') }}

    <a href="{{ path('fuel_index') }}">back to list</a>
{% endblock %}
