{% extends 'base.html.twig' %}

{% block title %}Fuel{% endblock %}

{% block body %}
    <h1>Fuel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fuel.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fuel.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fuel_index') }}">back to list</a>

    <a href="{{ path('fuel_edit', {'id': fuel.id}) }}">edit</a>

    {{ include('fuel/_delete_form.html.twig') }}
{% endblock %}
