{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Firstname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.mail }}</td>
                <td>{{ owner.firstname }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}">show</a>
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('owner_new') }}">Create new</a>
{% endblock %}
