{% extends 'base.html.twig' %}

{% block title %}Owner{% endblock %}

{% block body %}
    <h1>Owner</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ owner.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ owner.firstname }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ owner.mail }}</td>
            </tr>
            <tr>
                <th>Ownerships</th>
                <td>{% if owner.vehicleOwnerships %}
                    <ul>
                        {% for own in owner.vehicleOwnerships %}
                            {% if own.isActive %}
                            <li>{{ own.vehicle.name }}- {{ own.startDate|date('Y-m-d') }}</li>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul></td>
            </tr>

            <tr>
                <th>Past ownerships</th>
                <td>{% if owner.vehicleOwnerships %}
                    <ul>
                        {% for own in owner.vehicleOwnerships %}
                            {% if own.isActive ==false %}
                                <li>{{ own.vehicle.name }} <br>
                                    {{ own.startDate|date('Y-m-d') }} - {{ own.endDate|date('Y-m-d') }}</li>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul></td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('owner_index') }}">back to list</a>

    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>

    {{ include('owner/_delete_form.html.twig') }}
{% endblock %}
