{% extends 'base.html.twig' %}

{% block title %}Dealer index{% endblock %}

{% block body %}
    <h1>Dealer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>GeositeId</th>
                <th>Brands</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dealer in dealers %}
            <tr>
                <td>{{ dealer.geositeId }}</td>

                <td><ul>
                {% for brand in dealer.brands %}

                <li>{{brand.name}} </li>

              {% endfor %}
              </ul></td>

                <td>
                    <a href="{{ path('dealer_show', {'id': dealer.id}) }}">show</a>
                    <a href="{{ path('dealer_edit', {'id': dealer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dealer_new') }}">Create new</a>
{% endblock %}
