{% extends 'base.html.twig' %}

{% block title %}Dealer{% endblock %}

{% block body %}
    <h1>Dealer</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>GeositeId</th>
                <td>{{ dealer.geositeId }}</td>

            </tr>
            <tr><th>Brands</th>

                <td>{% for brand in dealer.brands %}

                        <li>{{brand.name}} </li>

                    {% endfor %}</td>
            </tr>

            <tr><th>Vehicles</th>

                <td>{% for vehicle in dealer.vehicles %}

                        <li>{{vehicle.name}} </li>

                    {% endfor %}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('dealer_index') }}">back to list</a>

    <a href="{{ path('dealer_edit', {'id': dealer.id}) }}">edit</a>

    {{ include('dealer/_delete_form.html.twig') }}
{% endblock %}
