<nav>
<ul>
    <a href="{{ path('index_index') }}"><li>Index</li></a>
    <a href="{{ path('vehicle_index') }}"><li>Vehicles</li></a>
    <a href="{{ path('dealer_index') }}"><li>Dealers</li></a>
    <a href="{{ path('brand_index') }}"><li>Brands</li></a>
    <a href="{{ path('owner_index') }}"><li>Owners</li></a>
    <a href="{{ path('vehicle_ownership_index') }}"><li>Ownerships</li></a>
    <a href="{{ path('vehicle_special') }}"><li>Special</li></a>

</ul></nav>
